#timerSettings {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-end; /* Align to the right */
  margin-bottom: 15px;
}

.timerDropdowns {
  display: flex;
  align-items: center; /* Center items vertically */
}

#timerSettings select {
  margin-right: 5px; /* Space between the dropdown and button */
}